<div id="<%= dom_id order %>">
  <th scope="row">
    <%= order.product.name %>
  </th>

  <th scope="row">
    <%= order.customer.name %>
  </th>

  <th scope="row">
    <%= order.typesofpayment.name %>
  </th>

  <th scope="row">
    <%= order.total_amount %>
  </th>

</div>
