<div id="<%= dom_id product %>">
  <th scope="row">
    <%= product.name %>
  </th>

  <th scope="row">
    <%= product.price %>
  </th>

  <th scope="row">
    <%= product.description %>
  </th>

  <th scope="row">
    <%= product.amount %>
  </th>

</div>
